Source: all-hash
Maintainer: elbandi <bandispam@gmail.com>
Section: python
Priority: optional
Build-Depends: python-all-dev (>= 2.6.6-3), debhelper (>= 7)
Standards-Version: 3.9.1
XS-Python-Version: >= 2.6

Package: python-all-hash
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}
Description: Bindings for proof of work used by altcoins

